body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

header, nav, main, footer {
  padding: 20px;
}

header {
  background-color: #E7717D;
  padding: 20px;
  text-align: center;
  margin-left: 20px;
  margin-top: auto;
}

header h1 {
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000; 
}

nav {
  background-color: #7E685A;
  padding: 10px;
  position: fixed;
  top: 0;
  left: -100px;
  width: 100px;
  height: 100%;
  transition: left 0.3s;
  cursor: pointer;
  justify-content: space-between; 
  align-items: center; 
  display: flex;
  margin-top: auto;
  justify-content: space-between;
}
nav::after {
  content: ''; 
  border: solid white; 
  border-width: 0 2px 2px 0; 
  display: inline-block; 
  padding: 3px; 
  transform: rotate(-45deg); 

}


nav:hover {
  left: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: #AFD275;
}

main {
  flex: 1; 
  width: 100%; 
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #C2CAD0;
}

footer {
  background-color: #C2B9B0;
  color: #FFFFFF;
  text-align: center;
  margin-top: auto; 
}

p {
  font-size: 1em;
  margin-left: 50px; 
}

form { 
  width: 100%;
  max-width: 500px; 
  margin: 0 auto;
}

form input,
form textarea {
  width: 100%;
  padding: 1px;

}

form submit {
  background-color: #7E685A;
  color: #FFFFFF;
  border: none;
  padding: 10px;
  cursor: pointer;
  
}

@media only screen and (min-width: 768px) {
  header, nav, main, footer {
    padding: 20px;
  }

  form label,
  form input,
  form textarea,
  form submit {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

table {
  width: 50%; 
  margin: 20px auto; 
  border-collapse: collapse;
  
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
}

th {
  border: 1px solid #ddd;
  padding: 10px;
}
.author-photo {
  width: 200px; 
  height: auto; 
  border-radius: 6%; 
  margin-bottom: 20px; }
.logo {
  width: 60px; 
  height: auto; 
  border-radius: 6%; 
  margin-bottom: 20px; 
}
ul {
  list-style-position: inside;
}
.image-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center; 
  margin-top: 20px;
}
.image-container img {
  max-width: 30%; 
  height: auto; 
  margin: 10px; 
  border-radius: 6%;
  cursor: pointer;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}


.modal-content {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
}


.modal:hover {
  cursor: pointer;
}
.modal-content {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  overflow: hidden; 
}

.modal-content img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.video-container iframe {
  max-width: 100%; 
  border-radius: 10px; 
  height: 315px;
  width: 560px
  
  
}
.image-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center; 
  margin-top: 20px;
}

.image-container figure {
  text-align: center; 
  margin: 10px;
}

